n = int(input())
c = 0
p = n
while True:
    i = p // 10
    i2 = p % 10
    p = i
    a = c + i2
    c = a * 10
    if i == 0:
        break
print("O inverso de %i é %i" %(n, a))
if a == n:
    print("%i é um número palíndromo" %n)
if a != n:
    print("%i não é um número palíndromo" %n)
